
.topnav {
  background-color: #f9f6f6;
  overflow: hidden;
  font-family: sans-serif;
}

.topnav a {
  float: left;
  color: #51a7dd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


.topnav a:hover {
  background-color: #a6c5ea;
  color: rgb(57, 120, 213);
}


.topnav a.active {
  background-color: #b8e4ec;
  color: white;
}

* {
    box-sizing: border-box;
  }
  body {
    font-family: "sans-serif";
    background: #2a72ba;
    color: #ecf0f1;
    line-height: 1.618em;
  }
  .wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
  }
  .tabs {
    position: relative;
    margin: 3rem 0;
    background: #3a82da;
    height: 14.75rem;
  }
  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }
  .tabs::after {
    clear: both;
  }
  .tab {
    float: left;
  }
  .tab-switch {
    display: none;
  }
  .tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #3a82da;
    border-right: 0.125rem solid #16a085;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
  }
  .tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
  }
  .tab-content {
    height: 37rem;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
  }
  .tab-switch:checked + .tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
  }
  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }
  
  a:hover{
    background-color: #2c3e50;
    color: #ecf0f1;
  }

  a{
    font-family: sans-serif;
    color: rgb(248, 247, 245);
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  aside {
	left: 10px;
	border: 1px solid rgb(254, 248, 248);
	padding: 15px;
	max-width: 80%;
	position: relative;
  text-align: center;
	border-color: #f0f1f2;
	border-width: 5px;
	font-size: 18px;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
}

h2 {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    text-align: center;

}

h3 {
  font-family: sans-serif;
}
img {
  width: 1000px;
  height: 1100px;
  text-align: center;
  padding: 10px;
  margin-left: 0px ;
  margin-left: 0px;
}

figure{
  text-align: center;
  display: block;
  justify-content: center;
  margin: -0px;
  padding-left: 20px;
  padding-right: 230px;
}
.lic{
  padding-top: 700px;
  margin-top: 10px;
}

